body {
    background: linear-gradient(45deg, #ffffff, #fec845, #fec845, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
    
  /* Création d'animations pour le fond */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

body h1{
    margin-left: 6%;
    margin-top: 10px;
}

.show_offers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 10%;
  }

  .main {
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 200px;
  }

body main a {
    text-decoration: none;
    color: #000;

}