body {
    height: 60em;
    background-color: black;
    overflow: hidden;
    background-clip: border-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
    /* background-image: url('../Image/main.jpg'); */
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}






.container{
    background: #f2f2f2 none repeat scroll 0 0;
    /* width: 500px;  */
    height: 100%;
    bottom: 0;
    /* right: 0; */
    position: fixed;
    border: solid;
}

.header{
    background-color: white;
}

.header img{
    margin: 10px;
}

.colonne h1{
    text-align: center;
    padding-top: 20px;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    margin: 50px auto;
}



input[type="submit"] {
    background-color: #FEC845;
    border: 2px solid rgb(242, 192, 27);
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #f89e02;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    box-shadow: inset 400px 0 0 0  #FEC845;
}

input[type="password"]:hover {
    box-shadow: 0 0 2px 1px #8ca8ff;
}
  
input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #8ca8ff;
}

form a[type="hyperlink"]:link{
    color: #FEC845;
    outline:none;
    text-decoration: none;
}

form a[type="hyperlink"]:visited{
    color: #FEC845;
    outline:none;
    text-decoration: none;
}

form a[type="hyperlink"]:hover {
    color: #FEC845;
}

form a[type="hyperlink"]:active {
    background: #f89e02;
    color: #FEC845;
  } 



@media (min-width: 768px){
    body{
        background-image: url('../Image/main.jpg');
    }

    .container{
        width: 500px;
        right: 0;
    }
}

@media (max-width: 768px){
    .container{
        width: 100%; 
    }
}